@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-hex-3: #fffffc;
  --white-hex-2: #fcf8f0;
  --white-hex-1: #eee9e2;
  --white-hex: #e1dbd3;
  --white1-hex: #d2cdc6;
  --white2-hex: #c4bfb8;
  --white3-hex: #b5b2ac;

  --blue-hex-3: #3b60ba;
  --blue-hex-2: #2d54ac;
  --blue-hex-1: #20489e;
  --blue-hex: #0b3d91;
  --blue1-hex: #003284;
  --blue2-hex: #002777;
  --blue3-hex: #001d6a;

  --red-hex-3: #ff6c47;
  --red-hex-2: #ff5d3a;
  --red-hex-1: #ff4e2e;
  --red-hex: #fc3d21;
  --red1-hex: #e92b15;
  --red2-hex: #d91207;
  --red3-hex: #c80000;

  --black-hex-3: #36414f;
  --black-hex-2: #2b3643;
  --black-hex-1: #202b38;
  --black-hex: #101823;
  --black1-hex: #08101e;
  --black2-hex: #000918;
  --black3-hex: #000000;

  --hue-black: 214.7;
  --sat-black: 37.25%;
  --lum-black: 10%;
  --hsl-black-base: hsl(var(--hue-black), var(--sat-black), var(--lum-black));

  --hue-blue: 217.6;
  --sat-blue: 86%;
  --lum-blue: 30.5%;
  --hsl-blue-base: hsl(var(--hue-blue), var(--sat-blue), var(--lum-blue));

  --hue-red: 7.7;
  --sat-red: 97%;
  --lum-red: 55%;
  --hsl-red-base: hsl(var(--hue-red), var(--sat-red), var(--lum-red));

  --hue-white: 34.5;
  --sat-white: 18.9%;
  --lum-white: 85.5%;
  --hsl-white-base: hsl(var(--hue-white), var(--sat-white), var(--lum-white));

  --base-hue: 230;
  --base-sat: 10%;

  --background: hsl(var(--base-hue), var(--base-sat), 95%);
  --foreground: hsl(var(--base-hue), var(--base-sat), 3%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(var(--base-hue), var(--base-sat), 3%);
    --foreground: hsl(var(--base-hue), var(--base-sat), 99%);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'futura-pt', sans-serif;
  min-height: 100vh;
  margin: 0 auto;
}

.full {
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

.var-bg-black {
  background-color: var(--hsl-black-base);
  height: 100px;
  width: 200px;
}
.var-bg-blue {
  background-color: var(--hsl-blue-base);
  height: 100px;
  width: 200px;
}
.var-bg-red {
  background-color: var(--hsl-red-base);
  height: 100px;
  width: 200px;
}
.var-bg-white {
  background-color: var(--hsl-white-base);
  height: 100px;
  width: 200px;
}

.var-bg-hex-black {
  background-color: var(--black-hex);
  height: 100px;
  width: 200px;
}
.var-bg-hex-blue {
  background-color: var(--blue-hex);
  height: 100px;
  width: 200px;
}
.var-bg-hex-red {
  background-color: var(--red-hex);
  height: 100px;
  width: 200px;
}
.var-bg-hex-white {
  background-color: var(--white-hex);
  height: 100px;
  width: 200px;
}

.swatch {
  width: 100px;
  height: 100px;
}

.black-swatch-100 {
  background-color: hsl(var(--hue-black), var(--sat-black), 18%);
}
.black-swatch-200 {
  background-color: hsl(var(--hue-black), var(--sat-black), 16%);
}
.black-swatch-300 {
  background-color: hsl(var(--hue-black), var(--sat-black), 14%);
}
.black-swatch-400 {
  background-color: hsl(var(--hue-black), var(--sat-black), 12%);
}
.black-swatch-500 {
  background-color: hsl(var(--hue-black), var(--sat-black), 10%);
}
.black-swatch-600 {
  background-color: hsl(var(--hue-black), var(--sat-black), 8%);
}
.black-swatch-700 {
  background-color: hsl(var(--hue-black), var(--sat-black), 6%);
}
.black-swatch-800 {
  background-color: hsl(var(--hue-black), var(--sat-black), 4%);
}
.black-swatch-900 {
  background-color: hsl(var(--hue-black), var(--sat-black), 2%);
}

.blue-swatch-100 {
  background-color: hsl(var(--hue-blue), var(--sat-blue), 38.5%);
}
.blue-swatch-200 {
  background-color: hsl(var(--hue-blue), var(--sat-blue), 36.5%);
}
.blue-swatch-300 {
  background-color: hsl(var(--hue-blue), var(--sat-blue), 34.5%);
}
.blue-swatch-400 {
  background-color: hsl(var(--hue-blue), var(--sat-blue), 32.5%);
}
.blue-swatch-500 {
  background-color: hsl(var(--hue-blue), var(--sat-blue), 30.5%);
}
.blue-swatch-600 {
  background-color: hsl(var(--hue-blue), var(--sat-blue), 28.5%);
}
.blue-swatch-700 {
  background-color: hsl(var(--hue-blue), var(--sat-blue), 26.5%);
}
.blue-swatch-800 {
  background-color: hsl(var(--hue-blue), var(--sat-blue), 24.5%);
}
.blue-swatch-900 {
  background-color: hsl(var(--hue-blue), var(--sat-blue), 22.5%);
}

.red-swatch-100 {
  background-color: hsl(var(--hue-red), var(--sat-red), 71%);
}
.red-swatch-200 {
  background-color: hsl(var(--hue-red), var(--sat-red), 67%);
}
.red-swatch-300 {
  background-color: hsl(var(--hue-red), var(--sat-red), 63%);
}
.red-swatch-400 {
  background-color: hsl(var(--hue-red), var(--sat-red), 59%);
}
.red-swatch-500 {
  background-color: hsl(var(--hue-red), var(--sat-red), 55%);
}
.red-swatch-600 {
  background-color: hsl(var(--hue-red), var(--sat-red), 51%);
}
.red-swatch-700 {
  background-color: hsl(var(--hue-red), var(--sat-red), 47%);
}
.red-swatch-800 {
  background-color: hsl(var(--hue-red), var(--sat-red), 43%);
}
.red-swatch-900 {
  background-color: hsl(var(--hue-red), var(--sat-red), 39%);
}

.white-swatch-100 {
  background-color: hsl(var(--hue-white), var(--sat-white), 100%);
}
.white-swatch-200 {
  background-color: hsl(var(--hue-white), var(--sat-white), 97.5%);
}
.white-swatch-300 {
  background-color: hsl(var(--hue-white), var(--sat-white), 93.5%);
}
.white-swatch-400 {
  background-color: hsl(var(--hue-white), var(--sat-white), 89.5%);
}
.white-swatch-500 {
  background-color: hsl(var(--hue-white), var(--sat-white), 85.5%);
}
.white-swatch-600 {
  background-color: hsl(var(--hue-white), var(--sat-white), 81.5%);
}
.white-swatch-700 {
  background-color: hsl(var(--hue-white), var(--sat-white), 77.5%);
}
.white-swatch-800 {
  background-color: hsl(var(--hue-white), var(--sat-white), 73.5%);
}
.white-swatch-900 {
  background-color: hsl(var(--hue-white), var(--sat-white), 69.5%);
}
